<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <span class="d-none" id="message">{{message}}</span>
    <div class="container mt-5 p-5 rounded" style="max-width: 400px;background-color: aqua;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="opassword">Old Password</label>
                <input type="password" class="form-control" id="opassword" name="opassword" placeholder="Old Password">
              </div><br>
              <div class="form-group">
                <label for="npassword">New Password</label>
                <input type="password" class="form-control" id="npassword" name="npassword" placeholder="New Password">
              </div><br>
              <button type="submit" class="btn btn-danger">Submit</button>
        </form>
        <br><a href="{% url 'login' %}" class="btn btn-primary">Go Back</a>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script>
        if ( document.getElementById("message").innerHTML == 'failed') {
            window.alert("Old Password Incorrect!");
        }
    </script>

</body>
</html>